:root {
    --pink: rgb(231, 109, 255);
    --dark-grey: rgb(55, 55, 56);
    --pale-grey: rgb(189, 216, 216);
    --neon-green: rgb(152, 255, 215);
}

::selection {
    background-color: var(--neon-green);
    color: var(--dark-grey);
}

/* NB: do not put background-colour in universal * selector because it will apply bg-color to all the text too */
* {
    font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
}

body {
    background-color: var(--dark-grey);
    color: var(--pale-grey);
}

p {
    /* border: 1px solid goldenrod; */
    color: var(--pale-grey);
    margin: 1rem 0;
}

h1, h2, h3 {
    /* border: 1px solid blue;  */
    color: var(--pink);
    text-align: center;
    margin: 1.1rem 0;
}

h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 1.9rem;
    text-align: left;
    margin: 0;
}

h3 {
    font-size: 1.75rem;
}

header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

/* start flex using a big containter (a house) that encloses all flex elements (rooms) inside */
section.row {
    /* border: 1px solid yellow; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* each flex element is a room inside the house. This room occupies a block of space on the screen = 1 value, minimum space occupied must be 100% of the screen, and set width is also 100% of the screen */
div.card-container {
    /* border: 1px solid red; */
    flex: 1 0 100%;
    width: 100%;
    margin-bottom: 2.2rem;
}

/* the flex element's contents has styling inside (furniture) */
div.card {
    border: 0.12rem dashed var(--pale-grey);
    padding: 0.75rem;
    margin: 1rem;
    min-height: 100%; /* height control for each card */

    display:flex;
    flex-direction: column;
}

div p {
    color: var(--pink);
}

h2.card-header {
    border: 0.12rem solid var(--pale-grey);
    border-radius: 0.5rem;

    background-color: var(--dark-grey);
    color: var(--pink);

    position: relative;
    margin-top: -1.65rem;
    padding: 0.65rem;
}

pre {
    /* border: 1px solid orange; */
    white-space: pre-wrap;
    tab-size: 2;
    font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    border-radius: 0.5rem;

    /* add display:flex to code to align text in centre of pre */
    display: flex;
    flex-grow: 1;
    align-items: stretch;
}

code {
    -webkit-user-select: all; /* this allows user to select */
    user-select:         all; /* all code text by clicking it */
    display: block;  /* display:block has its own padding styling */
    font-family: inherit;  /* inherit font from parent container (pre) */

    display: flex;
    align-items: center; 

    padding: 0 1rem;
}

/* to make an inner and outer glow, box-shadow uses two value-blocks:
        box-shadow {value1, value2}
inner glow specified by 'inset' at beginning of value1; default is outer glow */
div.card:hover,
div.card:hover h2 {
    box-shadow: inset 0 0 8px rgba(232, 102, 236, 1), 0 0 15px rgb(102, 216, 236);
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out;
}

/* if the house is bigger than 768px, build two rooms side by side. Each room WILL GROW to 1 block size on screen, but min width is now 50% (to make two columns) */
@media screen and (min-width: 768px) {
    .card-container {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* if the house is bigger than 992px, build three rooms side by side. Each room STILL GROWS to 1 block size on screen, but min width is now 33% (to make three columns)  */
@media screen and (min-width: 992px) {
    .card-container {
        flex: 0 0 33%;
        max-width: 33%;
    }
}
